<%- include('partials/header') -%> 
    <div style="width: 30%; height: 35%; border-radius:10px; background: #f9f9f9;  position: absolute; top:0; bottom: 20%; left: 0; right: 0; margin: auto; min-width: 450px; min-height:250px;">
      <div class="header" style=" text-align: center; padding-top: 8%; color:#0D122B">
          <h1>Thank You!</h1>
          <p style="width: 75%; margin: auto; margin-top:10%;">Your subscription has been confirmed.</p>
      </div>
    </div>
  </body>
</html> 